
.tabsboxpanel {
  float: left;
  height: auto;
  width: 100%;
  margin-top:0.55em;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #888888;
}

.tabsboxpanel-title {
  float: left;
  height: auto;
  width: 100%;
  margin-left: 0%;
  margin-top: 2em;
  font-size: 0.8em;
  font-weight: bold;
  color: #A41952;
}

.tabsboxpanel-edit{
  font-size: 0.8em;
  font-weight: bold;
  color:#14202D;
  float: left;
  height: auto;
  width: 100%;
  margin-left: 0%;
  text-align:right;
}

.tabs-nav .tabsboxpanel-edit{
    font-size: 1.1em;
}

.tabs-nav .tabsboxpanel-title {
    font-size: 1.1em;
}


.output  {
  border: none;
  background: transparent;
  font-weight: bold;
}

