<div class="premium">
  <div class="premium-container">
         
    <span class="premium-headline"></span>
    <span class="premium-frequency"></span>
    <br/>
    <span><%= __('tax_statement') %></span>

    <%= body %>
  </div>
</div>