<div class="quote_col_sx">
      <label><%=__(title)%>
        <input name="search" type="text" class="quote_fieldset" id="search" style="outline:none" />
      </label>
</div>
<div class="quote_col_dx_b"><a href="#">GO ></a></div>